@model List<m0611.Models.TempOrderDetail>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- bootstrap 5.2.3 cdn -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/css/Cart1Sheet.css" />


<!-- header -->
<!-- 上方付款進度條 -->
<div class="progress-zone">

    <span class="progress-icon" style="background-color: rgb(255, 204, 133);">1</span>
    <span class="progressbar-text" style="background-color: rgb(255, 204, 133);">確認購物車</span>

    <span class="progress-icon">2</span>
    <span class="progressbar-text">選擇取貨方式</span>

    <span class="progress-icon">3</span>
    <span class="progressbar-text">選擇付款方式</span>

    <span class="progress-icon">4</span>
    <span class="progressbar-text">訂單完成</span>

</div>

<!-- 商品明細區這裡要串接資料庫並且會讀資料庫有多少筆資料跟著變長 -->
<div class="product-detail-zone">

    <!-- 商品title -->
    <div class="product-detailtitle">
    </div>


    <!-- 商品細節 -->
    <div class="product-detail">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">商品明細</th>
                    <th scope="col">單價</th>
                    <th scope="col">數量</th>
                    <th scope="col">小計</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var haha in Model)
                {
                    <tr>
                        <td>關連到商品描述這邊需要viewmodel</td>
                        <td>@haha.UnitPrice</td>
                        <td>@haha.Qty</td>
                        <td>@haha.Subtotal</td>

                    </tr>

                }
            </tbody>
        </table>
    </div>

    <!-- 商品總價與次要選項 -->
    <div class="product-detail-footer">
        <input type="button" id="na001" value="預覽木偶">
        <input type="checkbox" id="na002" value="廠商組裝(有廠商組裝費)">廠商組裝(有廠商組裝費)
        <span>Total: @ViewBag.Cart  </span>
    </div>
</div>

<!-- 下方按鈕取消與確認按鈕 -->
<div class="sent-zone">
    @*@{
        //先產生模擬class資料
        var classtransform = new
        {
            OrderDetailId = 1,
            MemberId  = 1,
            ProductId = 1,
            Qty = 1,
            UnitPrice = 120,
            Discount = "null",
            Subtotal = 120,
            Notes = "null"
        };
        //再轉成json
        string s = System.Text.Json.JsonSerializer.Serialize(classtransform);

        //存入json至cookie
        Context.Response.Cookies.Append("testaddclasscook", s);
    }*@
    
    <input type="button" id="na003" value="取消">
    <input type="button" id="na004" value="確認結帳">
    @*@{
        Html.Action(
            "Index",
            "Home",new { @class = "btn" });

    }*@


    <a asp-action="postaddresspage" asp-controller="Home"> tojsontest </a>

</div>

    
<!-- 購買規範說明 -->
<div>
    <br>
    <br>
    <br>
</div>


<!-- footer -->
